/*
* @Author: taochen
* @Date:   2016-10-14 06:00:55
* @Last Modified by:   taochen
* @Last Modified time: 2016-10-18 17:02:12
*/

body {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4em;
  background-color: #F5F5F5;
}

main {
  width: 600px;
  margin: auto;
}

#title {
  width: 100%;
  font-size: 100px;
  font-weight: 100;
  text-align: center;
  color: rgba(175, 47, 47, 0.15);
}

#new-todo {
  box-sizing: border-box;
  outline:none;
  width: 100%;
  font-size: 24px;
  padding: 16px 16px 16px 60px;
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

#todolist-area {
  position: relative;
  width: 100%;
}

#toggle-all {
  position: absolute;
  top: -55px;
  left: -12px;
  width: 60px;
  height: 34px;
  text-align: center;
  border: none;
  outline: none;
  transform: rotate(90deg);/*将旋转元素90°*/
  -webkit-appearance: none;/*//使元素看上去像标准的用户界面元素，这里为“none”，且必须放最后才有效*/
}

#toggle-all:before {
  content: '❯';
  font-size: 24px;
  color: #e6e6e6;
  padding: 10px 27px 10px 27px;
}

#todolist-all {
  padding: 0;
  margin: 0;
}

#todolist-all > li {
  list-style-type: none;
  background: #FFF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0 12px 10px;
}

#todolist-all > li > div {
  width: 80%;
}


#todolist-all > li > div > p {
  /*width: 70%;*/
  margin: 0;
  font-size: 24px;
  color: #4d4d4d;
  height: 34px;
  display: flex;
  align-items: center;
}

#todolist-all > li > div > p > input {
  width: 100%;
  margin: 0;
  font-size: 24px;
  color: #4d4d4d;
  padding-left: 0;
  border-left-width:0;
}

.completed > div > p {
  text-decoration: line-through;
  color: #D9D9D9 !important;
}

.toggle {
  /*display: inline-block;*/
}

.delete {
  cursor: pointer;
  width: 30px;
  font-size: 30px;
}

.delete:before {
  content: '×';
  color: #af5b5e;
}

#todolist-filter {
  background: #FFF;
  color: #777;
  padding: 10px 15px;
  height: 20px;
  text-align: center;
  border-top: 1px solid #e6e6e6;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

#todolist-filter > #filters {
  display: flex;
  justify-content: space-between;
}

#filters > li {
  list-style-type: none;
}

#filters > li > a {
  margin: 3px;
  padding: 3px 7px;
  text-decoration: none;
  border: 1px solid transparent;
  border-radius: 3px;
}

.selected {
  border-color: rgba(175, 47, 47, 0.2);
}

footer > p {
  text-align: center;
  color: #CFCFCF;
  padding-top: 50px;
}